# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- List popular languages for Data Science
- List commonly used libraries
- List open-source development tools

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

## Here are some open-source development environment tools used by Data Scientists:

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Zeppelin    |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.

## This a simple arithmetic expression to mutiply then add integers.

In [28]:
x = (3 * 4) + 5
if x == 17:
   print ("result =",x, "super")
else:
   print ("error")

result = 17 super

## This will convert 200 minutes to hours by diving by 60

In [34]:
a = 200//60
b = 200%60
print (a,"hours",b,"minutes")

3 hours 20 minutes

## Author
Olena Bevz